<html>
    <head>
    <script src = " https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js "></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <style>
        img{
            height: 350px;
            width: 460px;
        }
    </style>
    </head>
    <body>
        {%for a in plots%}
            <img src="data:image/png;base64,{{a}}" alt="">
        {%endfor%}
    </body>
</html>